apiVersion: numaflow.numaproj.io/v1alpha1
kind: Pipeline
metadata:
  name: debug-pipeline
spec:
  vertices:
    - name: in
      scale:
        max: 1
      source:
        udsource:
          container:
            image: $REGISTRY_URL/numaflow/step1-debug:stable
            imagePullPolicy: Always
            env:
              - name: SCRIPT
                value: "source"
              - name: VIDEO_SRC
                value: "$VIDEO_SRC"
            volumeMounts:
              - mountPath: /var/log/numaflow
                name: log-volume
              - mountPath: /mnt/whitebox
                name: whitebox-volume
      limits:
        readBatchSize: 1
      volumes:
        - name: log-volume
          hostPath:
            path: /var/log/numaflow
            type: DirectoryOrCreate
        - name: whitebox-volume
          hostPath:
            path: /mnt/whitebox
            type: DirectoryOrCreate
    - name: filter-resize
      scale:
        max: 1
      udf:
        container:
          image: $REGISTRY_URL/numaflow/step1-debug:stable
          imagePullPolicy: Always
          env:
            - name: SCRIPT
              value: "fr-stream" # "filter-resize" or "fr-async" or "fr-stream"
          volumeMounts:
            - mountPath: /var/log/numaflow
              name: log-volume
      limits:
        readBatchSize: 1
      volumes:
        - name: log-volume
          hostPath:
            path: /var/log/numaflow
            type: DirectoryOrCreate
    - name: out-debug
      scale:
        max: 1
      sink:
        udsink:
          container:
            image: $REGISTRY_URL/numaflow/step1-debug:stable
            imagePullPolicy: Always
            volumeMounts:
              - name: log-volume
                mountPath: /var/log/numaflow
            env:
              - name: SCRIPT
                value: "sink-debug"
      volumes:
        - name: log-volume
          hostPath:
            path: /var/log/numaflow
            type: DirectoryOrCreate
          
  edges:
    - from: in
      to: filter-resize
    - from: filter-resize
      to: out-debug
      