# This file must be written in POSIX format
# 
# Basic format is KEY=VALUE
# Use '' (single quotes) when the value contains special characters($,&,#,`) and space that should not be interpreted by the shell
# Use "" (double quotes) when you want variable expansion inside the value
# 
# !Note!
# Basically initialize the variable with a safe default value, since they were used in .github/workflow/ci.yaml.

# OpenCV config
#
# DO NOT use the tag "4.12.0" (Tue Jul 1 10:02:50 2025 +0300) or older one for
# OPENCV_GIT_VERSION because the version of that tag is not compatible with
# CUDA Toolkit 13.x.
#
# Using a commit ID or a tag, not a branch name, for *_GIT_VERSION is
# recommended so that you can identify version issues when you are in trouble.
#
## opencv
## Mon Dec 15 19:26:01 2025 +0300
OPENCV_GIT_VERSION=7291f638b6d5669acaf55ce3df0c88c0aa63d07d
OPENCV_GIT_URL=https://github.com/opencv/opencv.git
## opencv_contrib
## Wed Dec 10 18:04:41 2025 +0300
OPENCV_CONTRIB_GIT_VERSION=84f113ebd35bdcff12c254202d22e110d2756ff9
OPENCV_CONTRIB_GIT_URL=https://github.com/opencv/opencv_contrib.git

# model config
## YOLOv4
YOLOV4_GIT_VERSION=master
YOLOV4_GIT_URL=https://github.com/Tianxiaomo/pytorch-YOLOv4.git
### yolov4.conv137.pth
YOLOV4_DL_MODEL_WEIGHTS_URL='https://drive.usercontent.google.com/download?id=1fcbR0bWzYfIEdLJPzOsn4R5mlvR6IQyA&confirm=xxx'
### yolov4.pth
YOLOV4_DL_MODEL_URL='https://drive.usercontent.google.com/download?id=1wv_LiFeCRYwtpkqREPeI13-gPELBDwuJ&confirm=xxx'

## Official YOLOv7
YOLOV7_GIT_VERSION=main
YOLOV7_GIT_URL=https://github.com/WongKinYiu/yolov7.git
YOLOV7_DL_MODEL_WEIGHTS_URL=https://github.com/WongKinYiu/yolov7/releases/download/v0.1/yolov7.pt

TIME_AREA=Asia  # Refer to `ls /usr/share/zoneinfo`
TIME_ZONE=Tokyo # Specify a specific ZONE within an AREA. 

# IP:PORT or Domain name
REGISTRY_URL=
