# Please refer to https://docs.ansible.com/ansible/latest/reference_appendices/config.html regarding ansible.cfg
[defaults]
# (pathspec) Colon separated paths in which Ansible will search for Roles.
#roles_path={{ ANSIBLE_HOME ~ "/roles:/usr/share/ansible/roles:/etc/ansible/roles" }}
roles_path=./roles:/usr/share/ansible/roles:/etc/ansible/roles
