apiVersion: v1
data:
  extension.config: |
    extensions:
    - name: metrics
      backend:
        services:
        - url: http://argocd-metrics-server.argocd.svc.cluster.local:9003    
    - name: logsummary
      backend:
        services:
        - url: http://log-summarization-service.numaproj-assist.svc.cluster.local:8080
kind: ConfigMap
metadata:
  labels:
    app.kubernetes.io/name: argocd-cm
    app.kubernetes.io/part-of: argocd
  name: argocd-cm
