apiVersion: argoproj.io/v1alpha1
kind: AnalysisTemplate
metadata:
  name: unified-anomaly
spec:
  args:
    - name: stable-hash
    - name: canary-hash
    - name: initial-delay
      value: 60s
    - name: count
      value: '30'
    - name: interval
      value: 30s
    - name: failure-limit
      value: '5'
    - name: inconclusive-limit
      value: '5'
  metrics:
    - name: unified-anomaly
      count: '{{args.count}}'
      failureLimit: '{{args.failure-limit}}'
      inconclusiveLimit: '{{args.inconclusive-limit}}'
      initialDelay: '{{args.initial-delay}}'
      interval: '{{args.interval}}'
      successCondition: result[0] < 4
      provider:
        prometheus:
          address: 'http://thanos.addon-metricset-ns.svc.cluster.local:9090'
          query: >+
            namespace_app_rollouts_unified_anomaly{namespace="rollout-numalogic-demo", rollouts_pod_template_hash="{{args.canary-hash}}"}
